PORT=5000
MONGODB_URI=mongodb+srv://stockx:hg9o0BuYuVWE33ZW@cluster0.gca6ygv.mongodb.net/?appName=Cluster0
JWT_SECRET=nothingissecret
AES_SECRET=d49418ca724f9337a41c77e86e92f7fee56f233fe7be232a0716586419fc9c23
CLIENT_URL=http://localhost:3000
NODE_ENV=development

